<div class="wrapper">
  <section class="auth-form"></section>
  <h3>Already Reddit? Please Login</h3>
    <div class="row">
      <div class="col m5">
      <!-- login email and password submit form -->
        <form ng-submit='login()'>
          Email: <input type="text" autofocus="true" ng-model="email" placeholder="email">
          Password: <input type="password" ng-model="password" placeholder="password">
          <button type="submit" name="action">Login</button>
          <!-- between buttons -->
          <span>or</span>
          <!-- register -->
          <a href="#/register/"><button class="btn waves-effect waves-light" type="submit" name="action">Register
          <i>send</i>
        </button></a>
      </form>
    </div>
    <div class="col m7"></div>
      </div>
    </div>
