<ul>
<!--   <div ng-view>
 -->    <section id="postBox">
      <ul>
        <li><button>Cool!</button><button>Lame!</button><a href="#">Post 1: Title - URL - img {$scope.img} - posted by [username]</li>
        <li><button>Cool!</button><button>Lame!</button><a href="#">Post 2: Title - URL - img - posted by [username]</li>
        <li><button>Cool!</button><button>Lame!</button><a href="#">Post 3: Title - URL - img - posted by [username]</li>
        <li><button>Cool!</button><button>Lame!</button><a href="#">Post 4: Title - URL - img - posted by [username]</li>
        <li><button>Cool!</button><button>Lame!</button><a href="#">Post 5: Title - URL - img - posted by [username]</li>
      </ul>
    </section>
